# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [68]:
import pandas as pd
import numpy as np

In [69]:
URL = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(URL)

In [70]:
df.shape #numero de filas y columnas 
df.shape[0] #numero de filas
df.shape[1] #numero de columnas

11

In [71]:
df.dtypes #tipo de dato de cada columna

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [72]:
df.head(10) #primeras 10 filas

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [73]:
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.rstrip('%').astype(float) / 100 #convertir porcentaje a float

In [74]:
df.head(10) #primeras 10 filas

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,5380.8986,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,7216.1003,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,24127.5040,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,7388.1781,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [75]:
df.dtypes[df.dtypes == "object"] #columnas de tipo object 
df['GENDER'].unique() #valores unicos de la columna GENDER
df.nunique() #numero de valores unicos por columna

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [76]:
num_cols = df.select_dtypes(include="number").columns #columnas numericas int o float, el .colums devuelve los nombres de las columnas
rangos = df[num_cols].agg(['min','max']).T #agg aplica funciones en este caso de min y max a cada columna numerica , .T transpone filas y columnas
rangos['range'] = rangos['max'] - rangos['min'] #crea una nueva columna con la resta de max y min
print(rangos)

                                 min           max         range
Customer Lifetime Value  2004.350700  58166.553500  56162.202800
Income                      0.000000  99960.000000  99960.000000
Monthly Premium Auto       61.000000  35354.000000  35293.000000
Total Claim Amount          0.382107   2893.239678   2892.857571

In [77]:

num_cols = df.select_dtypes(include="number").columns #columnas numericas int o float, el .colums devuelve los nombres de las columnas
# 2) resumen con media, mediana, std, min, Q1, Q2, Q3, max
desc = df[num_cols].describe(percentiles=[.25,.5,.75]).T #describe devuelve varias estadisticas, percentiles para Q1,Q2,Q3, .T transpone filas y columnas
desc = desc.rename(columns={"25%":"Q1","50%":"Q2_mediana","75%":"Q3"}) #renombrar columnas
print(desc[["count","mean","std","min","Q1","Q2_mediana","Q3","max"]]) #seleccionar y mostrar solo las columnas deseadas, count es numero de valores no nulos, meam es media, std desviacion estandar, min minimo, max maximo, Q1,Q2_mediana,Q3 son los percentiles

# 3) moda (ojo: puede haber varias; cogemos la primera)
modes = df[num_cols].mode().iloc[0]
print("\nModa por columna:")
print(modes)

                          count          mean           std          min  \
Customer Lifetime Value  1068.0   7936.902593   6434.784103  2004.350700
Income                   1071.0  39295.701214  30469.427060     0.000000
Monthly Premium Auto     1071.0    193.234360   1601.190369    61.000000
Total Claim Amount       1071.0    404.986909    293.027260     0.382107

                                   Q1    Q2_mediana            Q3  \
Customer Lifetime Value   4034.079950   5881.742350   8962.871975
Income                   14072.000000  36234.000000  64631.000000
Monthly Premium Auto        68.000000     83.000000    109.500000
Total Claim Amount         202.157702    354.729129    532.800000

                                  max
Customer Lifetime Value  58166.553500
Income                   99960.000000
Monthly Premium Auto     35354.000000
Total Claim Amount        2893.239678

Moda por columna:
Customer Lifetime Value    2514.592
Income                        0.000
Monthly Premium Auto         65.000
Total Claim Amount          321.600
Name: 0, dtype: float64

In [78]:
# columnas de tipo texto o category
cat_cols = df.select_dtypes(include=["object","category"]).columns
print("Categóricas:", list(cat_cols))

Categóricas: ['Customer', 'ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [79]:
locs = df["ST"]
locs = locs.astype("string").str.strip() #eliminar espacios en blanco al inicio y final
freq = locs.value_counts()   # por defecto NO cuenta NaN
freq_asc = freq.sort_values(ascending=True) #ordenar ascendentemente
least5 = freq_asc.head(5)
least5

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: Int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [81]:
pol = df["Policy Type"]
pol = pol.astype("string").str.strip() #eliminar espacios en blanco al inicio y final
freq_pol = pol.value_counts()   # por defecto NO cuenta NaN
print(freq_pol)

# tipo con mayor número de pólizas
tipo_pol_max = freq_pol.idxmax() #en este caso te da el tipo de poliza, no el numero
n_top = freq_pol.max() #numero de polizas del tipo mas frecuente
tipo_pol_max, n_top

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: Int64

('Personal Auto', np.int64(780))

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [83]:

# 1) filtrar con .loc
p_personal  = df.loc[df["Policy Type"].astype("string").str.strip() == "Personal Auto"]
p_corporate = df.loc[df["Policy Type"].astype("string").str.strip() == "Corporate Auto"]

# 2) medias de Income (ignora NaN por defecto)
mean_personal  = p_personal["Income"].mean()
mean_corporate = p_corporate["Income"].mean()

print("Media Income - Personal Auto :", mean_personal)
print("Media Income - Corporate Auto:", mean_corporate)

# 3) comparación simple
if mean_personal < mean_corporate:
    print("→ Personal Auto tiene ingresos medios más bajos.")
elif mean_personal > mean_corporate:
    print("→ Personal Auto tiene ingresos medios más altos.")
else:
    print("→ Ingresos medios iguales.")

Media Income - Personal Auto : 38180.69871794872
Media Income - Corporate Auto: 41390.31196581197
→ Personal Auto tiene ingresos medios más bajos.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [33]:
# Your code here